@using Nabeey.Service.DTOs.Users;

@model IEnumerable<UserResultDto>
@{
    var dto = Model.LastOrDefault();
}

    <nav class="navbar navbar-light bg-light justify-content-between">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-success" href="@Url.Action("Create")">Create</a>
    </nav>
<div class="p-3">
    <table class="table text-center">
        <thead class="text-light" style="background-color: #01384D">
            <tr>
                <td>T/r</td>
                <td>Image</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @{int tr = 1;}
            @foreach(var item in Model)
            {
                <tr>
                    <td>@tr</td>
                    <td>
                        @if (item.Asset is null)
                        {
                            <img src="./Images/Logos/profile.png"
                                 alt="Image"
                                 style="width: 40px; height: 40px"
                                 class="rounded-circle" />
                        }
                        else
                        {
                            <img src="@item.Asset.FilePath"
                                    alt="Image"
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle" />
                        }
                    </td>
                    <td class="pt-3">@item.FirstName</td>
                    <td class="pt-3">@item.LastName</td>
                    <td class="pt-3">@item.Phone</td>
                    <td class="pt-3">@item.Email</td>
                    <td class="pt-3">@item.UserRole</td>
                    <td>
                        <div class="btn-group">

                            <a class="btn btn-outline-primary" href="@Url.Action("Detail", "Users", item.Id)">Detail</a>
                            <a class="btn btn-outline-warning" href="@Url.Action("Update", "Users", item.Id)">Update</a>
                            <a class="btn btn-outline-danger" href="@Url.Action("Delete", "Users", item.Id)">Delete</a>
                            <form asp-action="Delete" asp-controller="Users" method="post">
                                <button type="submit" asp-route-id=@item.Id onclick="return confirm('Delete selected item?');">
                                    Link Text
                                </button>
                            </form>

                        </div>
                    </td>
                    @{tr++;}
                </tr>
            }
        </tbody>
    </table>
</div>